body{
    background-color: rgb(214, 214, 214);
}

h1{
    text-align: center;
    font-size: 50px;
}

#container{
    display: flex;
    flex-direction: column;
    }

h2{
    margin-top: 50px;
    margin-left: 15px;
}

#myRadio{
    margin: 5px 7px 0 50px;
}

#Btn_Submit{
    margin: 40px auto;
    font-size: x-large;
    padding: 10px 15px;
    display: block;
    }

p{
    margin: 0 0 10px 30px;
}

h3{
    text-align: center;
    font-size: 40px;
}